.wave-container {
    position: relative;
    overflow: hidden;
  }
  
  .wave {
    animation: wave-animation 4s ease-in-out infinite;
    fill: #281e1e; /* Wave color */
  }
  
  @keyframes wave-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Add a second wave with a different speed and opacity for depth effect */
  #wave2 {
    animation: wave-animation-2 4s ease-in-out infinite;
    opacity: 0.6; /* Slightly transparent */
  }
  
  @keyframes wave-animation-2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  